.login-signup {
  font-family: Arial, sans-serif;
  min-height: calc(65.5vh - 58.67px);
}

.main-container {
  display: flex;
  flex-direction: row;
  min-height: 90vh;
}

.info-container {
  flex: 1;
  background-color: var(--button-color);
  color: white;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-image {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin-bottom: 20px;
  backdrop-filter: blur("10px");
  /* opacity: 0.6; */
}

.info-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.info-text {
  font-size: 1.2rem;
}

.info-title, .info-text{
  display: flex;
  top: 0;
}

.form-container {
  flex: 1;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-wrapper {
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container {
  text-align: center;
  margin-bottom: 20px;
}

.welcome-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-image {
  width: 100px;
  margin-top: 10px;
}

.tab-container {
  margin-bottom: -30px;
}

.tab-navigation {
  display: flex;
  justify-content: space-between;
}

.tab-button {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: #e0e0e0;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.tab-button.active {
  background-color: var(--button-color);
  color: white;
  font-weight: bold;
}

.tab-button:not(:last-child) {
  margin-right: 10px;
}
