* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #ff6600;
  --secondary-color: #28a745;
  --addToCart-button-color: #ffbb28;
  --addToCart-button-color-hover: #ffae00;
  --filter-option-color: black;
}
