/* AddUserForm.css */

.user-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

.user-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.user-form label {
  display: block;
  margin-bottom: 8px;
  font-size: 0.9rem;
  color: #555;
}

.user-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.user-form input:focus {
  border-color: var(--button-color);
  outline: none;
}

.user-form .error-message {
  color: #ff0000;
  font-size: 0.9rem;
  margin-bottom: 15px;
  text-align: center;
  text-transform: capitalize;
  animation: popError 0.3s ease-in-out;
}

@keyframes popError {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.user-form button {
  width: 100%;
  padding: 10px;
  background-color: var(--button-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-form button:hover {
  background-color: var(--button-color-hover);
}
