/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 15px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo a {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-logo a:hover {
  color: #ff6b6b;
}

.navbar-logo img {
  width: 40px;
}

.navbar-links {
  list-style: none;
  /* margin-left: 80px; */
  display: flex;
  gap: 20px;
  justify-content: end;
  width: 500px;
}

.navbar-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: var(--accent-color);
}

.navbar-links li a,
.icons li a {
  position: relative;
  padding-bottom: 5px;
}

.navbar-links li a.active,
.icons li a.active {
  color: var(--accent-color);
  font-weight: bold;
  border-bottom: 2px solid var(--accent-color);
}

.icons {
  list-style: none;
  display: flex;
  width: 337.38px;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.icons li a,
.icons li button {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icons li a:hover,
.icons li button:hover {
  color: var(--accent-color);
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 3px 0;
  padding-right: 10px;
  padding-left: 5px;
  transition: width 0.4s ease-in-out;
  width: 20px;
  /* overflow: hidden; */
  background-color: white;
  cursor: pointer;
}

.search-container .search-icon {
  flex-shrink: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.search-container input {
  width: 0;
  border: none;
  outline: none;
  padding: 0;
  opacity: 0;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out,
    padding 0.3s ease-in-out;
  font-size: 16px;
}

/* When active, expand the search bar */
.search-container.active {
  width: 200px;
}

.search-container.active input {
  width: 100%;
  opacity: 1;
  padding: 3px 10px;
}

.search-results {
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  background-color: var(--border-color);
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  max-height: 300px; /* Limit height and add scroll */
  overflow-y: auto;
}

.search-result-item {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #181717;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.search-result-item:hover {
  background-color: #f0f0f0;
}

.result-product-image {
  width: 40px;
  height: 40px;
  object-fit: fill;
  border-radius: 4px;
  margin-right: 10px;
}

.product-details {
  flex: 1;
}

.product-name {
  font-weight: lighter;
  font-size: 12px;
  margin-bottom: 4px;
  color: #181717;
}

.no-results {
  padding: 10px;
  color: #777;
  text-align: center;
}

.cart-icon {
  margin-top: 5px;
}
.user-icon {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 35px;
  right: 0;
  background: var(--border-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 10;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-item {
  display: flex;
  align-items: center;
  color: black;
  gap: 10px;
  padding: 12px 16px;
  text-decoration: none;
  transition: color 0.3s ease;
  width: 100%;
  text-align: left;
}

.dropdown-item:hover {
  color: var(--accent-color);
}

.dropdown-item button {
  width: 100%;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 16px;
  color: inherit;
  cursor: pointer;
}

.cart-link {
  position: relative;
}
.cart-count {
  position: absolute;
  top: -14px;
  right: -8px;
  background: red;
  color: white;
  font-size: 9px;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 50%;
}
